<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehículos</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
</head>

<body>

  <nav>
    <a href="/buscarVehiculo">Buscar vehículo</a>
    <a href="/altaVehiculo">Alta vehículo</a>
  </nav>

  <div id="main-container">

    {{{body}}}

  </div>

</body>

</html>