<div class="main-view-container">

  <div class="enlaces-superiores">
    <a href="/mostrarIngresos/{{idVehiculo}}" class="enlace">
      Volver
    </a>
  </div>

  <form action="/nuevoIngreso/{{idVehiculo}}" method="POST">

    <label for="fechaEntrada">Fecha de entrada:</label>
    <input type="text" name="fechaEntrada" value="" placeholder="0000-00-00  año/mes/día">

    <label for="orden">Órden de trabajo:</label>
    <input type="text" name="orden" value="" placeholder="00000000-0000-0P-00000">

    <label for="sintomas">Síntomas:</label>
    <textarea rows="5" cols="60" name="sintomas" type="text"></textarea>

    <input type="submit" value="Añadir nuevo ingreso">

    {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}}

  </form>

</div>